.avatar-display-container {
  background-color: rgba(0, 0, 0, 0.7);
  border: 0.1vh solid #ffffff;
  border-radius: 10px;
   display: inline-block;
  box-sizing: border-box;
}

.avatar-display {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: fit-content;
}

.avatar-image {
  position: relative;
  margin: 0%;
}

.base-avatar,
.hairstyle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.avatar-stats {
  position: relative;
  margin: 0%;
}

.stat-icons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.stat-icon {
  pointer-events: auto;
  width: 5vw;
  height: 5vw;
}

/* Styles pour les tooltips */
.react-tooltip {
  z-index: 9999 !important;
  opacity: 1 !important;
  background-color: rgba(0, 0, 0, 0.8) !important;
  color: white !important;
  padding: 8px 12px !important;
  border-radius: 4px !important;
  font-size: 1.5vw !important;
  max-width: 25vw !important;
  text-align: center !important;
}
