.dashboard {
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid #ffffff;
  padding: 1%; /* Réduire le padding */
  border-radius: 10px;
  color: white;
  margin: 0;
  box-sizing: border-box; /* Inclure le padding et la bordure dans la taille totale */
  height: auto; /* Ajuster la hauteur automatiquement */
  width: 100%; /* Augmenter la largeur */
  /* overflow: auto; Gérer le débordement */
}

.dashboard h2 {
  text-align: center;
  margin-bottom: 1%; /* Réduire les marges */
  font-size: 1.5vw; /* Augmenter la taille de la police */
}

.categories-grid {
  display: flex;
  justify-content: space-between;
  gap: 1%; /* Réduire l'espacement */
}

.category-card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 1%; /* Réduire le padding */
  text-align: center;
 /* flex: 1; *//* Chaque carte prend une part égale de l'espace disponible */
  /* min-width: 15%; Augmenter la largeur minimale */
}

.category-icon {
  width: 4vw; /* Réduire la taille des icônes */
  height: 4vw; /* Réduire la taille des icônes */
  margin-bottom: 1%; /* Réduire les marges */
}

.category-card h3 {
  font-size: 0.6vw; /* Augmenter la taille de la police pour les titres des catégories */
  margin: 0.5% 0; /* Ajouter des marges pour espacer les titres */
}

.level-text {
  font-size: 0.5vw; /* Augmenter la taille de la police */
}

.experience-bar-container {
  background-color: rgba(255, 255, 255, 0.2);
  height: 1vw; /* Réduire la hauteur */
  border-radius: 10px;
  margin-top: 15%; /* Réduire les marges */
  overflow: hidden;
}

.experience-bar {
  background-color: #4CAF50;
  height: 100%;
  border-radius: 10px;
  transition: width 0.3s ease-in-out;
}

.experience-text {
  /* display: block;
  margin-top: 1%; Réduire les marges */
  font-size: 0.5vw; /* Augmenter la taille de la police */
}
